{
  "printWidth": 120,
  "tabWidth": 2,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "endOfLine": "lf",
  "semi": true,
  "overrides": [
    {
      "files": "*.scss",
      "options": {
        "singleQuote": false
      }
    },
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    }
  ]
}
