---
export const prerender = false;

import { getWorks } from '@/lib/works';
import BaseLayout from '@/layouts/BaseLayout.astro';
import WorkCard from '@/components/WorkCard.astro';
import './index.css';

const works = await getWorks();
---

<BaseLayout title='Works | My Portfolio'>
  <a href='/' class='works_back'>← Home</a>
  <section class='works_section' aria-labelledby='works-heading'>
    <div class='works_heading'>
      <p class='works_kicker'>works</p>
      <h1 id='works-heading' class='works_title'>Works</h1>
    </div>

    {
      works.length > 0 ? (
        <ul class='works_grid'>
          {works.map((work) => (
            <li class='works_item'>
              <WorkCard work={work} />
            </li>
          ))}
        </ul>
      ) : (
        <p class='works_empty'>works はまだ登録されていません。</p>
      )
    }
  </section>
</BaseLayout>
