---
import './Header.css';
---

<header class='site-header'>
  <div class='site-header_inner'>
    <a class='site-header_brand' href='/'>Tetsuro Tsunehara</a>
    <nav class='site-header_nav' aria-label='メインナビゲーション'>
      <a class='site-header_link' href='/works'>Works</a>
    </nav>
  </div>
</header>
