---
const { work } = Astro.props;
import './WorkCard.css';

const id = work.id ?? work.contentId ?? work.slug ?? '';
const imageUrl = work.images[0]?.url ?? work.thumbnail?.url ?? '';
---

<a class='work-card' href={id ? `/works/${id}` : '#'}>
  {
    imageUrl ? (
      <img src={imageUrl} alt={work.title ?? 'work image'} loading='lazy' />
    ) : (
      <div class='work-card_placeholder' />
    )
  }
</a>
