---
import '@/styles/global.css';
import styles from './BaseLayout.module.css';
---

<html lang='ja'>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>My Portfolio</title>
  </head>
  <body>
    <main class={styles.container}>
      <slot />
    </main>
  </body>
</html>
